@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



::-webkit-scrollbar {
    display: none;
}