.middle_sec_1{
    padding: 10px 0;
    /* border-bottom: .1px solid gainsboro; */
}

.middle_sec_1 > .box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.middle_sec_1 > .box1 > div:first-child > span:first-child{
    font-weight: bold;
    font-size: 13px;
    color: gray;
}

.middle_sec_1 > .box1 > div:first-child > span:last-child{
    font-size: 12px;
    color: blue;
    padding-left: 20px;
}

.middle_sec_1 > .box1 > div:first-child > span:last-child > i{
    font-size: 10px;
    color: blue;
    padding-left: 5px;
}



.middle_sec_1 > .box1 > div:last-child > i{
    font-size: 10px;
    color: blue;
}

.middle_sec_1 > .box1 > div:last-child > i:first-child{
    padding-right: 20px;
}

.middle_sec_1 > .box1 > div:last-child > i:last-child{
    padding-left: 20px;
}




/* box css start hare  */
.row{
    width: 90%;
    margin: 40px auto;
}

.row > .box2{
    overflow: scroll;
    display: flex;
}


.row > .box2 > div > a > div{
    width: 260px;
    /* height: 150px; */
}


.row > .box2 > div > a > div > img{
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    background-color: rgb(15,127,113);
}


.row > .box2 > div {
    padding-right: 10px;
}


.row > .box2 > div > a {
    text-decoration: none;
    color: black;
}

.row > .box2 > div > a:hover {
    text-decoration: underline;
}

.row > .box2 > div > a:hover > div > p:nth-child(1) {
    color: rgb(15,127,113);
    text-decoration: underline;
}

.row > .box2 > div > a > div > p:nth-child(1){
    font-size: 20px;
    padding: 10px 0;
}

.row > .box2 > div > a > div > p:nth-child(2){
    font-size: 14px;
    padding: 10px 0;
}


.row > .box2 > div > a > div > p:nth-child(3){
    font-size: 12px;
    padding: 10px 0;
}


@media only screen and (min-width : 300px) and (max-width : 768px) {

    .row{
        width: 95%;
        margin: 30px auto;
    }
    
    .row > .box2{
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    .row > .box2 > div > a {
        text-decoration: none;
        color: black;

        display: flex;
    }

    .row > .box2 > div > a > div:last-child{
        flex-grow: 1;
    }

    /* .row > .box2 > div > a > div{
        width: 100%; 
        height: 150px;
    } */

    .row > .box2 > div{
        padding: 15px 0;
    }
    

    .row > .box2 > div > a > div > p:nth-child(1){
        font-size: 20px;
        padding: 5px 0 5px 20px;
    }
    
    .row > .box2 > div > a > div > p:nth-child(2){
        font-size: 14px;
        padding: 5px 0 5px 20px;
    }
    
    
    .row > .box2 > div > a > div > p:nth-child(3){
        font-size: 12px;
        padding: 5px 0 5px 20px;
    }
    
    
}
/* box css ends hare  */


/*................................ article_1 css ends hare ............................*/


.article_1{
    border-top:.1px solid rgb(211, 211, 211) ;
    border-bottom: .1px solid rgb(211, 211, 211);
    display: flex;
    text-align: start;
    padding: 50px;
    margin: 50px 0;
}

.article_1 img{
    width: 100%;
}

.article_1 > div{
    width: 50%;
}   


.article_1 > div:nth-child(2) > div{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    padding: 0 0 0 20px;
}


.article_1 > div:nth-child(2) > div > span{
    display: inline-block;
    width: 20px;
    background-color: rgb(3, 115, 98);
}


.article_1 > div:nth-child(2) > div >div > p:first-child{
    font-size: 30px;   
}

.article_1 > div:nth-child(2) > div >div > p:first-child:hover{
    text-decoration: underline; 
    color: #145f3f;
}


.article_1 > div:nth-child(2) > div >div > p:last-child{
    font-size: 15px;
    padding-top: 20px;
    
}


.article_1 > div:nth-child(2)  > p{
    font-size: 15px;
    padding: 20px;
    color: blue;
    
}

.article_1 > div:nth-child(2)  > p:hover{
    text-decoration: underline;    
}



@media only screen and (min-width : 300px) and (max-width : 768px) {

    .article_1{
        padding: 20px;
        flex-direction: column;
        border: none;
    }

    .article_1 > div{
        width: 100%;
    }   

    .article_1 > div:nth-child(2) > div{
        padding: 0;
    }

    .article_1 > div:nth-child(2)  > p{
        padding: 20px 0;
        
    }

    .article_1 > div:nth-child(2) > div >div > p:first-child{
        font-size: 25px;   
    }
    
    

}



/*................................ article_1 css ends hare ............................*/

