@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
    font-family: 'Open Sans', sans-serif;
}



::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
  }


/*........HEADER CSS START HARE..................*/


.header1 {
    display: flex;
    justify-content: space-between;
    border-bottom: .1px solid rgb(216, 216, 216);
    align-items: center;
}

.fill-ksr10-green {
    fill: #05ce78;
}


.header1 div:nth-child(2)>div {
    width: 60%;
    margin: auto;
}

.header1>div>a {
    font-size: 14px;
    text-decoration: none;
    padding: 0 5px;
    color: black;
}

.header1>div:nth-child(1) {
    padding: 20px 0 20px 20px;
}

.header1>div:nth-child(1)>a {
    padding: 0 3px;
}

.header1>div:nth-child(3) {
    padding: 20px 20px 20px 0;
}

.fa-search {
    padding: 2px;
    font-size: 12px !important;
}


@media only screen and (min-width : 300px) and (max-width : 768px) {


    .header1 {
        flex-wrap: wrap;
    }

    .small {
        display: none;
    }



    .header1>div:nth-child(2) {
        width: 100%;
        margin: auto;
        border-bottom: .1px solid rgb(216, 216, 216);
    }

    .header1>div:nth-child(2)>div {
        width: 200px;
        margin: 20px auto;
    }

    .header1>div:nth-child(1) {
        order: 2;
        padding: 15px 0 15px 15px;
    }

    .header1>div:nth-child(3) {
        order: 3;
        padding: 15px 15px 15px 0;
    }


}



/*  navBar Css Start Hare */

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: .1px solid rgb(216, 216, 216);
}

nav>span {
    display: none;
}

nav span:first-child,
nav span:last-child {
    padding: 22px 10px;
    color: rgb(107, 107, 107);
}

nav>ul {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    list-style-type: none;
    margin: 0 auto;
}

nav>ul>li {
    padding: 18px 20px;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 14px;
    color: rgb(70, 70, 70);
}

nav>ul>li>a:hover {
    text-decoration: underline;
    color: rgb(17, 56, 17);
}


@media only screen and (min-width : 300px) and (max-width : 768px) {
    nav>ul {

        justify-content: flex-start;
        width: 90%;
        margin: 0 auto;
        overflow: scroll;
    }

    nav>ul>li {
        padding: 15px 10px;
    }

    nav>span {
        display: block;
    }
}

/* navBar Css ends Hare */


/* section css start hare */

section {
    text-align: center;
}

section>p {
    padding: 20px 0;
    font-size: 30px;
    color: rgb(53, 53, 53);
}


section>div:nth-child(2)>p {
    font-size: 13px;
    padding: 15px;
    color: gray;
}

section>div:nth-child(2)>div>div {
    /* box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}


section>div:nth-child(2)>div>div>div {
    flex-grow: 1;
    padding: 24px;
    font-size: 13px;
    color: gray;
}

section>div:nth-child(2)>div>div>div:nth-child(1) {
    border: 1px solid rgb(204, 204, 204);
}

section>div:nth-child(2)>div>div>div:nth-child(2) {
    border-bottom: 1px solid rgb(204, 204, 204);
    border-top: 1px solid rgb(204, 204, 204);
}

section>div:nth-child(2)>div>div>div:nth-child(3) {
    border: 1px solid rgb(204, 204, 204);
}

section>div:nth-child(2)>div p:first-child {
    color: rgb(3, 115, 107);
    font-size: 30px;
}




@media only screen and (min-width : 300px) and (max-width : 768px) {

    section>p {
        text-align: start;
        padding: 25px 20px;
        font-size: 25px;
        color: rgb(53, 53, 53);
    }

    section>div:nth-child(2)>p {
        font-size: 13px;
        text-align: start;
        padding: 15px 20px;
        color: gray;
    }



    section>div:nth-child(2)>div>div {
        width: 100%;
        padding: 0 20px;
    }

    section>div:nth-child(2)>div>div>div {
        padding: 10px 30px;
    }




    section>div:nth-child(2)>div {
        justify-content: flex-start;
    }

    section>div:nth-child(2)>div p:first-child {
        color: rgb(3, 115, 107);
    }



}


@media only screen and (min-width : 500px) and (max-width : 768px) {
    section>div:nth-child(2)>div>div>div {
        padding: 24px;
    }
}

/* section css ends hare */



/*  section_2 css start hare */

.section_2 {
    /* border: 1px solid red; */
    display: flex;
    width: 90%;
    margin: 20px auto;
}

.section_2>a img {
    width: 100%;
    padding-bottom: 10px;
    background-color: rgb(3, 115, 98);
}

.section_2>div>div img {
    width: 100%;
    height: 100%;
}

.section_2>a,
.section_2>div {
    /* border: 1px solid black; */
    width: 50%;
    text-decoration: none;
    text-align: start;
    color: black;
}

.section_2>a {
    padding: 0 40px 0 0;
    border-right: .1px solid rgb(211, 211, 211);
}

.section_2>div {
    padding: 0 0 0 40px;

}


.section_2>a>div>p:first-child,
.section_2>div>p:first-child {
    font-size: 12px;
    font-weight: bold;
    padding: 30px 0 15px 0;
}

.section_2>a>div>h1 {
    padding: 10px 0;
    font-weight: 100;
}


.section_2>a>div>h1:hover {
    text-decoration: underline;
    color: rgb(3, 115, 98);
}

.section_2>a>div>p {
    padding: 5px 0;
    font-size: 15px;
}

.section_2>a>div>p:last-child {
    padding: 15px 0;
    font-size: 12px;
}


.section_2>div>div {
    display: flex;
    border-bottom: .1px solid rgb(211, 211, 211);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.section_2>div>div:last-child {
    border-bottom: none;
}

.section_2>div>div>a:first-child {
    width: 30%;
}

.section_2>div>div>div {
    padding: 0 0 0 20px;
}

.section_2>div>div>div>p {
    font-size: 13px;
}

.section_2>div>div>div>p:nth-child(2) {
    font-weight: bold;
    color: rgb(3, 115, 98);
}

.section_2>div>div>div>p:nth-child(3) {
    font-size: 12px;
    color: gray;
}

.section_2>div>div>div>i {
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 18px;
    margin: 10px 0;
}


.page {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 0 40px;
}



@media only screen and (min-width : 300px) and (max-width : 768px) {

    .section_2>div>div>a:first-child {
        width: 35%;
    }

    .section_2 {
        flex-direction: column;
        width: 100%;
        border-bottom:.1px solid rgb(211, 211, 211) ;
    }

    .section_2>a,
    .section_2>div {
        width: 100%;
        padding: 0;
        border-right: none;
    }

    .section_2>a>div>p:first-child,
    .section_2>div>p:first-child {
        padding: 30px 0 15px 15px;
    }

    .section_2>a>div>h1 {
        padding: 10px 15px;
    }
    
    
    .section_2>a>div>p {
        padding: 5px 15px;
    }

    .section_2>a>div>p:last-child {
        padding: 15px;
    }

    .section_2>div>div {
        width: 95%;
        margin: 15px auto;
    }


}



/* section_2 css ends hare */



/* article_1 css ends hare */


.article_1{
    border-top:.1px solid rgb(211, 211, 211) ;
    border-bottom: .1px solid rgb(211, 211, 211);
    display: flex;
    text-align: start;
    padding: 50px;
    margin: 50px 0;
}

.article_1 img{
    width: 100%;
}

.article_1 > div{
    width: 50%;
}   


.article_1 > div:nth-child(2) > div{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    padding: 0 0 0 20px;
}


.article_1 > div:nth-child(2) > div > span{
    display: inline-block;
    width: 20px;
    background-color: rgb(3, 115, 98);
}


.article_1 > div:nth-child(2) > div >div > p:first-child{
    font-size: 30px;   
}

.article_1 > div:nth-child(2) > div >div > p:first-child:hover{
    text-decoration: underline; 
    color: #145f3f;
}


.article_1 > div:nth-child(2) > div >div > p:last-child{
    font-size: 15px;
    padding-top: 20px;
    
}


.article_1 > div:nth-child(2)  > p{
    font-size: 15px;
    padding: 20px;
    color: blue;
    
}

.article_1 > div:nth-child(2)  > p:hover{
    text-decoration: underline;    
}



@media only screen and (min-width : 300px) and (max-width : 768px) {

    .article_1{
        padding: 20px;
        flex-direction: column;
        border: none;
    }

    .article_1 > div{
        width: 100%;
    }   

    .article_1 > div:nth-child(2) > div{
        padding: 0;
    }

    .article_1 > div:nth-child(2)  > p{
        padding: 20px 0;
        
    }

    .article_1 > div:nth-child(2) > div >div > p:first-child{
        font-size: 25px;   
    }
    
    

}



/*article_1 css ends hare */


/*...........................HEADER CSS END HARE.....................................*/




/*...........................Day 2 SECTION CSS START HARE.....................................*/

.middle_sec_1{
    padding: 10px 0;
    /* border-bottom: .1px solid gainsboro; */
}

.middle_sec_1 > .box1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

.middle_sec_1 > .box1 > div:first-child > span:first-child{
    font-weight: bold;
    font-size: 13px;
    color: gray;
}

.middle_sec_1 > .box1 > div:first-child > span:last-child{
    font-size: 12px;
    color: blue;
    padding-left: 20px;
}

.middle_sec_1 > .box1 > div:first-child > span:last-child > i{
    font-size: 10px;
    color: blue;
    padding-left: 5px;
}



.middle_sec_1 > .box1 > div:last-child > i{
    font-size: 10px;
    color: blue;
}

.middle_sec_1 > .box1 > div:last-child > i:first-child{
    padding-right: 20px;
}

.middle_sec_1 > .box1 > div:last-child > i:last-child{
    padding-left: 20px;
}




/* box css start hare  */
.row{
    width: 90%;
    margin: 40px auto;
}

.row > .box2{
    overflow: scroll;
    display: flex;
}


.row > .box2 > div > a > div{
    width: 260px;
    /* height: 150px; */
}


.row > .box2 > div > a > div > img{
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
    background-color: rgb(15,127,113);
}


.row > .box2 > div {
    padding-right: 10px;
}


.row > .box2 > div > a {
    text-decoration: none;
    color: black;
}

.row > .box2 > div > a:hover {
    text-decoration: underline;
}

.row > .box2 > div > a:hover > div > p:nth-child(1) {
    color: rgb(15,127,113);
    text-decoration: underline;
}

.row > .box2 > div > a > div > p:nth-child(1){
    font-size: 20px;
    padding: 10px 0;
}

.row > .box2 > div > a > div > p:nth-child(2){
    font-size: 14px;
    padding: 10px 0;
}


.row > .box2 > div > a > div > p:nth-child(3){
    font-size: 12px;
    padding: 10px 0;
}


@media only screen and (min-width : 300px) and (max-width : 768px) {

    .row{
        width: 95%;
        margin: 30px auto;
    }
    
    .row > .box2{
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    .row > .box2 > div > a {
        text-decoration: none;
        color: black;

        display: flex;
    }

    .row > .box2 > div > a > div:last-child{
        flex-grow: 1;
    }

    /* .row > .box2 > div > a > div{
        width: 100%; 
        height: 150px;
    } */

    .row > .box2 > div{
        padding: 15px 0;
    }
    

    .row > .box2 > div > a > div > p:nth-child(1){
        font-size: 20px;
        padding: 5px 0 5px 20px;
    }
    
    .row > .box2 > div > a > div > p:nth-child(2){
        font-size: 14px;
        padding: 5px 0 5px 20px;
    }
    
    
    .row > .box2 > div > a > div > p:nth-child(3){
        font-size: 12px;
        padding: 5px 0 5px 20px;
    }
    
    
}


/*...........................Day 2 SECTION CSS END HARE.....................................*/





/*...........................Day 3 SECTION CSS START HARE.....................................*/



.second_middle_s1{
    /* border: 1px solid red; */
    padding: 10px 0;
    width: 90%;
    margin: auto;
}

.second_middle_s1 > div:first-child{
    /* border: 1px solid palevioletred; */
    font-size: 12px;
    color: rgb(83, 83, 83);
    font-weight: bolder;
}


.second_middle_s1 > div:last-child{
    display: flex;
    padding: 20px 0; 
    gap: 30px;
}

.second_middle_s1 > div:last-child > div{
    width: 25%;
    flex-grow: 1;
}


.second_middle_s1 > div:last-child > div > a{
    /* border: 1px solid red; */
    display: block;
    color: black;
    text-decoration: none;
}

.second_middle_s1 > div:last-child > div > a:hover > p:nth-child(2){
    text-decoration: underline;
    color: #145f3f;
}


.second_middle_s1 > div:last-child > div > a > img{
    width: 100%;
    /* height: 300px; */
}

.second_middle_s1 > div:last-child > div > a p{
    padding: 10px 10px 10px 0;
}

._different> div:last-child > div > a p:nth-child(3){
    font-size: 12px;
    padding: 5px 0;
}

._different> div:last-child > div > a p:nth-child(4){
    font-size: 12px;
    padding: 5px 0;
}

._different > div:last-child > div > a:hover > p:nth-child(4){
    color: black;
    text-decoration: underline;
}


@media only screen and (min-width : 300px) and (max-width : 768px) {
    
    
    .second_middle_s1 > div:last-child{
        display: flex;
        padding: 20px 0; 
        gap: 25px;
        flex-wrap: wrap;
    }
    
    .second_middle_s1 > div:last-child > div{
        width: 45%;
        flex-grow: 1;

    }
    
    
    .second_middle_s1 > div:last-child > div > a{
        /* border: 1px solid red; */
        display: block;
        color: black;
        text-decoration: none;
    }
    


}



/* css for _s2 */

.second_middle_s2{
    /* border: 1px solid red; */
    padding: 10px 0;
    width: 90%;
    margin: auto;
}

.second_middle_s2 > div:first-child{
    /* border: 1px solid palevioletred; */
    font-size: 12px;
    color: rgb(83, 83, 83);
    font-weight: bolder;
}


.second_middle_s2 > div:last-child{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0; 
    gap: 50px 30px;
}

.second_middle_s2 > div:last-child > div{
    width: 45%;
    flex-grow: 1;
    border: .1px solid rgb(223, 223, 223);
}


.second_middle_s2 > div:last-child > div > a{
    /* border: 1px solid red; */
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;

    display: flex;

}

.second_middle_s2 > div:last-child > div > a:hover > div > p:first-child,
.second_middle_s2 > div:last-child > div > a> div > p:last-child:hover
{
    text-decoration: underline;
}


.second_middle_s2 > div:last-child > div > a > img{
    width: 30%;
}

.second_middle_s2 > div:last-child > div > a > div{
    padding-left: 15px;
}

.second_middle_s2 > div:last-child > div > a >div > p:first-child{
    font-size: 20px;
    font-weight: lighter;
}

.second_middle_s2 > div:last-child > div > a >div > p:nth-child(2){
    font-size: 12px;
    padding: 20px 0;    
}

.second_middle_s2 > div:last-child > div > a >div > p:nth-child(3){
    font-size: 12px;
    color: blue;
    padding-top: 15px ;
}

@media only screen and (min-width : 768px) and (max-width : 1000px) {
    .second_middle_s2 > div:last-child > div{
        width: 100%;
        flex-grow: 1;
    }

    .second_middle_s2 > div:last-child > div > a > img{
        width: 200px;
        height: 150px;
    }

    .second_middle_s2 > div:last-child{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0; 
        gap: 20px;
    }

}


@media only screen and (min-width : 300px) and (max-width : 768px) {

    .second_middle_s2 > div:first-child{
        padding: 0 15px;
    }

    .second_middle_s2 > div:last-child{
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0; 
        gap: 0;
    }

    .second_middle_s2{
        padding: 10px 0;
        width: 95%;
        margin: auto;
    }

    .second_middle_s2 > div:last-child > div > a >div > p:first-child{
        font-size: 16px;
        font-weight: lighter;
    }

    .second_middle_s2 > div:last-child > div > a >div > p:nth-child(2){
        font-size: 12px;
        padding: 10px 0;    
    }
    
    .second_middle_s2 > div:last-child > div > a >div > p:nth-child(3){
        font-size: 12px;
        color: blue;
        padding-top: 5px ;
    }

    
    .second_middle_s2 > div:last-child > div{
        width: 100%;
        flex-grow: 1;
        border: none;
        border-bottom: .1px solid rgb(223, 223, 223);
    }

    .second_middle_s2 > div:last-child > div > a > img{
        width: 120px;
        height: 120px;
    }

}


/* css for ends _s2 */



/*...........................Day 3 SECTION CSS END HARE.....................................*/






/*...........................Day 4 CSS START HARE.....................................*/

/* footer css start hare */


footer > div:first-child , footer > div:last-child{
    margin: auto;
    padding: 20px 70px;
    border: 1px solid rgb(211, 211, 211);
    

    display: flex;
    gap: 20px;
}

footer > div:first-child > a , footer > div:last-child > a{
    text-decoration: none;
    font-size: 14px;
    color: black;
}

footer > div:first-child > a:hover , footer > div:last-child > a:hover{
    text-decoration: underline;
}





footer > div:nth-child(2){
    /* border: 1px solid green; */
    width: 90%;
    margin: auto;
    padding: 30px 0 0 0 ;
}

.f2 > div:nth-child(1){
    /* padding: 30px; */

    display: flex;
    justify-content: space-evenly;
}

.f2 > div:nth-child(1) >div > p{
    font-size: 13px;
    font-weight: bold;
    padding:  0 0 10px 0;
}

.f2 > div:nth-child(1) >div > a{
    display: block;
    text-decoration: none;
    font-size: 13px;
    color: black;
    padding: 2px 0;
}

.f2 > div:nth-child(1) >div > a:hover{
    text-decoration: underline;
}

.f2 > div:last-child{
    /* border : 1px solid rgb(8, 52, 175); */
    margin: 40px 0;
    
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}


.f2 > div:last-child > div > i{
    /* border : 1px solid red; */
    font-size: 20px;
    padding:0 15px;
    
}

.f2 > div:last-child > div > select{
    padding: 10px 15px;
    margin: 0 5px;
}



@media only screen and (min-width : 300px) and (max-width : 768px) {

    footer > div:first-child{
        margin: auto;
        padding: 20px 40px;
        border: 1px solid rgb(211, 211, 211);
        
        flex-direction: column;
        gap: 10px;
    }


    footer > div:last-child{
        margin: auto;
        padding: 10px 20px;
        border: 1px solid rgb(211, 211, 211);
        
    
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    .f2 > div:last-child{
        /* border : 1px solid rgb(8, 52, 175); */
        margin: 30px 0;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
    }

}

/* footer css ends hare */

/*...........................Day 4 CSS END HARE.....................................*/


